
felis_assistant.egg-info/dependency_links.txt
felis_assistant.egg-info/entry_points.txt
felis_assistant.egg-info/PKG-INFO
felis_assistant.egg-info/requires.txt
felis_assistant.egg-info/SOURCES.txt
felis_assistant.egg-info/top_level.txt
